MONGO_HOST=128.5.101.69
GOOGLE_CLIENT_ID='tu-client-id-de-google'
GOOGLE_CLIENT_SECRET='tu-client-secret-de-google'
GOOGLE_CLIENT_CALLBACK_URL='http://localhost:3001/auth/google/callback'
SESSION_SECRET='secret'